// CONTENT
// ===================
// 1. Default
// 2. Blocks
// ===================


// 1. Default
// -----------------
#content {
	opacity: 0;
	transform: translate(0, 20px);
	margin-left: calc(50vw);
	transition: opacity .5s $cubic--one,
				transform .5s $cubic--one;
	
	@media(max-width: 992px) {
		transform: translate(0);
		margin-left: 0;
		margin-top: 69.5vh;
	}

}

.content {
	margin-left: 5vw;
}

.container {
	padding: 5vw 7vw;
}
// -----------------


// 2. Blocks
// -----------------
// -----------------


// 3. Global
// -----------------

.is-loaded {
	#content {
		opacity: 1;
		transform: translate(0);
		transition-delay: .25s;
	}
}
.is-menu {
	#content {
		transition-delay: 0s;
		transition-duration: 0s;
		opacity: 0;
		transform: translate(0, 20px);
		pointer-events: none;
		@media(max-width: 992px) {
			transform: translate(0);
			opacity: 1;

		}
	}
}
// -----------------