// CONTENT
// ===================
// 1. Default
// 2. Blocks
// ===================


// 1. Default
// -----------------
#content {
	margin-left: calc(50vw);
	// display: none;
}

.content {
	margin-left: 5vw;
}

.container {
	padding: 5vw 7vw;
}
// -----------------


// 2. Blocks
// -----------------
// -----------------
