.gallery {
	
	position: relative;
	margin-left: 6vw;
	width: calc(100% + 7vw);
	height: 75%;

	h4 {
		margin: 0;
	}

	ul {
		width: 100%;
		height: 100%;
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__list {
		background: red;
	}

	&__item {
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
        box-shadow: 2vw 2vw 2vw rgba($black, .45);
        
        ._img {
            width: 100%;
            height: 100%;
            background: red;
        }

		img {
			max-width: none;
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}

		div {
			color: $white;
			position: absolute;
			top: 0;
			left: 0;
			padding: 5vw 4vw;
		}
	}

	&__nav {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(-25%, 50%);
		display: flex;
		div {
			margin-right: 3px;
		}
	}

	&__link {
		display: inline-block;
		position: absolute;
		left: -5px;
		font-size: 24px;
		bottom: 40px;
		white-space: nowrap;
		transform: rotate(-90deg) translate(0, -100%);
		transform-origin: top left;
		span {
			&:first-child {
				color: $grey;
				font-family: $font-bold;
			}
		}

		svg {
			margin-left: 10px;
			width: 18px;
		}

		polygon {
			fill: $orange;
		}
	}

}