#logo {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	transition: transform .25s $cubic--one;

	path,
	rect {
		transition: transform .5s $cubic--one;
	}

	#eight {
		transition: transform .25s $cubic--one .2s;	
	}
}

.logo {

	&--white {
		
		path, 
		rect {
			fill: $white;
		}

		#five,
		#six,
		#seven {
			fill: $black;
		}
	}

	&--animation {

		path,
		rect {
			transform-origin: top center;
			transform: scale(1, 0)
		}
		
		#one,
		#three,
		#six {
			transform-origin: bottom center;
		}

		#eight {
			transform: scale(0, 1);
			transform-origin: left center;
		}
	}
	
	&.is-animated {
		path,
		rect {
			transform: scale(1, 1);
		}

		#eight {
			transform: scale(1, 1);
		}
	}

	&.is-scaled {
		#logo {
			transform: translate(-50%, -50%) scale(.5);
			@media (max-width: 992px) {
				transform: translate(-50%, -50%) scale(.75);
			}
		}
	}

	&.is-left {
		#logo {
			transition: transform .5s $cubic--one;
			transform: translate(-100%, -50%) scale(.5);
			@media (max-width: 992px) { 
				transform: translate(-50%, -100%) scale(.75);
			}
		}
	}
}