doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Hi3 website
  style.
    
    html.is-redirected #background {
      transform: scale(0.5, 1);
    }

    #app {
      display: none;
    }

    @media (max-width: 992px) {
      html.is-redirected #background {
        transform: scale(1, 0.7);
        transform-origin: top center;
      }
    }

  include script.pug

body
  #background
  #app
    #aside
      block aside

    #content
      block content

    #menu
      include ../Partials/menu.pug