#sidebar
    a(href="/contact" title="Hi3 | Contact Us")
        .icon.-placeholder
    ._logo
        include ../../assets/images/logo-sidebar.svg
    a(href="/contact#address" title="Hi3 | Contact Us")
        .icon.-placeholder
