.gallery
	.gallery__list
		ul.gallery__images
			li(style="background-image: url(/assets/placeholder.jpg)")
		ul.gallery__content
			li
				h4 BHF
				p Small description here
				a(href="" class="link-arrow -white")
					._icon
						include ../../assets/images/circles.svg
						include ../../assets/images/arrow.svg

		
	.gallery__nav
		.prev
			include ../../assets/images/arrow.svg
		.next
			include ../../assets/images/arrow.svg

	a(href="" class="gallery__link")
		span All works
		span 
			include ../../assets/images/arrow.svg
