.gallery
	.gallery__list
		ul.gallery__images.gallery__slider
			li
				<picture>
					source(srcset="/assets/placeholder.jpg" media="(min-width: 992px)")
					img(src="/assets/placeholder.jpg")
				</picture>
			li
				<picture>
					source(srcset="/assets/placeholder2.jpg" media="(min-width: 992px)")
					img(src="/assets/placeholder.jpg")
				</picture>
			li
				<picture>
					source(srcset="/assets/placeholder3.jpg" media="(min-width: 992px)")
					img(src="/assets/placeholder.jpg")
				</picture>
		ul.gallery__content
			li
				h4 BHF
				p Small description here
				a(href="" class="link-arrow -white")
					._icon
						include ../../assets/images/circles.svg
						include ../../assets/images/arrow.svg
			li
				h4 BHF@2
				p Small description here
				a(href="" class="link-arrow -white")
					._icon
						include ../../assets/images/circles.svg
						include ../../assets/images/arrow.svg
			li
				h4 BHF@3
				p Small description here
				a(href="" class="link-arrow -white")
					._icon
						include ../../assets/images/circles.svg
						include ../../assets/images/arrow.svg

		
	.gallery__nav
		.prev
			include ../../assets/images/arrow.svg
		.next
			include ../../assets/images/arrow.svg

	a(href="" class="gallery__link")
		span All works
		span 
			include ../../assets/images/arrow.svg
