.gallery
	ul.gallery__list
		li.gallery__item
			div
				h4 BHF
				p Small description here
				a(href="" class="button__circle" title="")
					include ../../assets/images/arrow.svg

		li.gallery__item
			div
				h4 BHF
				p Small description here
				a(href="" class="button__circle" title="")
					include ../../assets/images/arrow.svg
	.gallery__nav
		.prev
			include ../../assets/images/arrow.svg
		.next
			include ../../assets/images/arrow.svg

	a(href="" class="gallery__link")
		span All works
		span 
			include ../../assets/images/arrow.svg
