extends ../Layout/header.pug

block aside
  include ../Partials/logo.pug
  h1.-sm#studio Studio
  a(href="" class="link-arrow -grey")
    span About us
    ._icon
      include ../../assets/images/circles.svg
      include ../../assets/images/arrow.svg

block content
  main
    p