extends ../Layout/header.pug

block aside
  include ../Partials/aside.pug
  include ../Partials/logo.pug

  a(href="" class="link link__aside")
    span About us
    include ../../assets/images/circles.svg

block content
  main
    p