extends ../Layout/header.pug

block aside
  include ../Partials/logo.pug
  h1.-sm#studio Studio
  a(href="" class="link-arrow -grey")
    span About us
    ._icon
      include ../../assets/images/circles.svg
      include ../../assets/images/arrow.svg

block content
  main.page-homepage
    
    .services
      ul.services__list
        li
          a(href="")
            div
              span
            h3 Design
        li
          a(href="")
            div
              span
            h3 Web Dev
        li
          a(href="")
            div
              span
            h3 Branding

      .services__cta
        h2.-orange.-lg Services
        a(href="/services" class="button")
          span More
          ._icon
            include ../../assets/images/arrow.svg
    
    .works
      h2.title.-lg.-light Works
      include ../Partials/gallery.pug