// Colours
$white: #fff;
$black: #000;
$grey: #d4d4d4;
$orange: #ff7e00;

// Breakpoints
$breakpoints: (
  "0": 0,
  "xss": 375px,
  "xs": 480px,
  "ss": 620px,
  "sm": 768px,
  "md": 991px,
  "bg": 1025px,
  "lg": 1200px,
  "xl": 1800px
);


// Transitions
$cubic--one: cubic-bezier(0.250, 0.460, 0.450, 0.940);


// Font
$font-normal: 'Roboto Condensed', sans-serif;
$font-bold: 'Bebas Neue', sans-serif;
$font-bold: 'Bebas';